.container {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
}

.row {
    display: flex;
    padding: 10px;
    border-radius: 15px;
}

.row-head {
    background-color: #fff !important;
    color: #505050;
    font-weight: bold;
}

.row:nth-child(2n) {
    background-color: #323232;
}

.row>div:nth-child(1) {
    width: 50px;
}

.row>div:nth-child(2) {
    flex: 1;
}

.row>div:nth-child(3) {
    width: 80px;
    text-align: right;
}

.bar-label {
    width: 100%;
    display: flex;
    font-size: 1.5rem;
}

.bar-label div {
    padding: 10px;
}

.bar-label-team1 {
    width: 50%;
}

.bar-label-team2 {
    width: 50%;
    text-align: right;
}

.bar {
    width: 100%;
    height: 10px;
    display: flex;
    margin: 0px 0px 10px;
    border-radius: 3px;
}

.bar div {
    height: 100%;
}

.bar-team1 {
    background-color: red;
    width: 50%;
    border-radius: 3px 0px 0px 3px;
}

.bar-team2 {
    background-color: blue;
    width: 50%;
    border-radius: 0px 3px 3px 0px;
}