#floor-button {
    bottom: 20px;
    right: 40px;
}

#zoom-button {
    bottom: 20px;
    left: 40px;
}

.fab {
    position: fixed;
    width: 35px;
    padding: 5px;
    height: 75px;
    background-color: #fff;
    border-radius: 30px;
    z-index: 10;
    color: #505050;
    display: flex;
    flex-direction: column;
    font-size: .75rem;
}

.fab>div {
    width: 35px;
    margin: 0 auto 5px;
    text-align: center;
    line-height: 35px;
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 200ms ease-in;
}

.fab div:last-child {
    margin: 0 auto;
}

.fab div:hover {
    background-color: #c2e3ff;
}

.fab div.select {
    background-color: #83c7ff;
}

#zoom-button {
    font-size: 1rem;
}

@media (max-width: 1200px) {
    .fab {
        right: 20px;
    }
}

#map-wrapper {
    height: 100%;
    width: 100%;
    overflow-x: auto;
    overflow-y: auto;
}

#map-scale-layer {
    position: relative;
    height: 99%;
    margin: 0 auto;
    width: fit-content;
}

#map-scale-layer img {
    height: 100%;
    width: auto;
    padding: 0;
    margin: 0;
}

.point {
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: red;
}

.disable-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.point-box {
    position: absolute;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    padding: 10px 0px 0px 10px;
}

.point-box div {
    height: 10px;
}

.bar {
    width: 100%;
    margin: 0px 0px 5px;
    display: flex;
    align-items: center;
}

.team0 {
    background-color: red;
    width: 60px;
    border-radius: 3px;
}

.team1 {
    background-color: blue;
    width: 60px;
    border-radius: 3px;
}

.bar .score {
    color: red;
    font-weight: bold;
    font-size: 1rem;
    line-height: 1rem;
    height: auto;
    padding: 0px 0px 0px 4px;
}