<div #mapWrapper (scroll)="onMapWrapperScroll($event)" id="map-wrapper" class="disable-select">
    <div #mapScaler id="map-scale-layer">
        <img alt="2f, 3f" [src]="floorImg[floor]" />
        @for (point of points[floor]; track point.x){
        <div class="point" [style.top]="positionToUIString(point.x)" [style.left]="positionToUIString(point.y)"></div>
        <div class="point-box" [style.top]="positionToUIString(point.x)" [style.left]="positionToUIString(point.y)">
            <div class="bar">
                <div class="team0" [style.width.px]="scoreToUIWidth(point.score[0])"></div>
                <div class="score score0">{{point.score[0]}}</div>
            </div>
            <div class="bar">
                <div class="team1" [style.width.px]="scoreToUIWidth(point.score[1])"></div>
                <div class="score score1">{{ point.score[1] }}</div>
            </div>
        </div>
        }
    </div>
</div>
<div id="floor-button" class="fab  disable-select">
    <div (click)="changeFloor(1)" [ngClass]="{'select': floor == 1}">4F</div>
    <div (click)="changeFloor(0)" [ngClass]="{'select': floor == 0}">2-3F</div>
</div>

<div id="zoom-button" class="fab disable-select">
    <div (click)="zoom(10)">+</div>
    <div (click)="zoom(-10)">–</div>
</div>