mat-toolbar {
    position: fixed;
    z-index: 10;
    top: 0px;
    left: 0px;
}

.mat-toolbar {
    background-color: darkblue;
    color: #fff;
    border-bottom: 3px solid green;
    /* debug*/
}

.mat-toolbar button {
    color: #fff;
    transition: background-color 300ms;
}

.mat-toolbar button:hover {
    background-color: #5a5a5a;
}

.spacer {
    flex: 1 1 auto;
}

main {
    margin: 64px auto 0px;
    border: 4px solid blue;
    box-sizing: border-box;
    padding: 5px;
    height: 100%;
}

@media (max-width: 599px) {
    main {
        margin: 54px auto 0px;
        height: 100%;
    }
}

.hideLink {
    display: block;
}

.routerActive {
    display: none;
}