<div class="container">
    <h1>Leaderboard</h1>
    <div class="bar-label">
        <div class="bar-label-team0">{{ team0Score | number }}</div>
        <div class="bar-label-team1">{{ team1Score | number }}</div>
    </div>
    <div class="bar">
        <div class="block bar-team0" #team0Block></div>
        <div class="block bar-team1" #team1Block></div>
    </div>
    <div class="row-head row">
        <div>Rank</div>
        <div>Name</div>
        <div>Score</div>
    </div>
    @for (item of items; track $index ;let rank = $index) {
    <div class="row" [ngClass]="{'team0': item.teamID==0, 'team1': item.teamID==1}">
        <div>{{rank+1}}</div>
        <div>{{item.name}}</div>
        <div>{{item.score | number}}</div>
    </div>
    }
</div>