<div class="container">
    <h1>Leaderboard</h1>
    <div class="bar-label">
        <div class="bar-label-team0">{{ teamScore[0] | number }}</div>
        <div class="bar-label-team1">{{ teamScore[1] | number }}</div>
    </div>
    <div class="bar">
        <div class="bar-team0" [style.width.%]="team0Percent()"></div>
        <div class="bar-team-tie" [style.width.%]="teamTiePercent()"></div>
        <div class="bar-team1" [style.width.%]="team1Percent()"></div>
    </div>
    <div class="leaderboard-response-wrapper-scroll">
        <div class="leaderboard-response-wrapper">
            <div class="row-head row">
                <div>Rank</div>
                <div>User ID</div>
                <div>Score</div>
                @for (id of sponsorIDs; track $index) {
                <div class="sponsor-column sponsor-column-header">{{ id }}<span class="tooltip">{{ sponsorNames[id]
                        }}</span></div>
                }
            </div>
            @for (item of items; track $index ;let rank = $index) {
            <div class="row">
                <div>{{rank+1}}</div>
                <div>{{item.player_id | littleEndian}}</div>
                <div>{{item.total_score | number}}</div>
                @for (id of sponsorIDs; track $index) {
                <div class="sponsor-column" [ngClass]="{'sponsor-column-header': item.connected_sponsors.includes(id)}">
                    <div [ngClass]="{'sponsor-column-fill': item.connected_sponsors.includes(id)}"></div>
                    <span class="tooltip" *ngIf="item.connected_sponsors.includes(id)">{{ sponsorNames[id] }}</span>
                </div>
                }
            </div>
            }
        </div>
    </div>
</div>